<section class="login flex justify-center pt-24">

    <div class="w-full max-w-xs mx-auto">

        <form action="" class="bg-white shadow-md rounded px-9 pt-6 pb-8 mb-4 mt-12">

            <div class="mb-4">

                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Email
                </label>

                <input class = "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline" type="email" name="" placeholder="Enter Email" id="email">


            </div>

            <div class="mb-6">

                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Password
                </label>

                <input class = "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline" type="password" placeholder ="****************" name="" id="password">


            </div>

            <div class="flex items-center justify-between">

                <button class="btn btn-primary rounded-full text-white font-bold mt-6 px-6 py-2" type="submit">Sign In! </button>

            <a href="/register" class="mt-4 inline-block align-baseline font-bold text-sm text-white-500 hover:text-white-800">

                Don't have account? 

            </a> 

        </div>

        </form>

        <p class="text-center text-gray-500 text-xs"> 

            &copy;2020 Web Dev Nikhil Tanwar. All Rights Reserved!

        </p>


    </div>


</section>